<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Transaction History</strong>
    </div>
    <div class="card-block">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Date
            </th>
            <th>
              Cryptocurrency Type
            </th>
            <th>
              Cryptocurrency Spent
            </th>
            <th>
              Fiat Type
            </th>
            <th>
              Fiat Spent
            </th>
            <th>
              Description
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="7">You do not have any transactions yet. Make an EPFTOS purchase or ATM withdrawal with your virtual or phyicical card to see your transactions here.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>