<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Transaction History</strong>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Cryptocurrency Type</th>
            <th scope="col">Cryptocurrency Spent</th>
            <th scope="col">Fiat Type</th>
            <th scope="col">Fiat Spent</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="7">You do not have any transactions yet. Make an EPFTOS purchase or ATM withdrawal with your virtual or phyicical card to see your transactions here.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>