<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>FAQs</strong>
    </div>
    <div class="card-block">
      <!--<accordion>
        <accordion-group *ngFor="let faq of faqs" [heading]="faq.title">
          {{faq.text}}
        </accordion-group>
      </accordion>-->
      <p><strong>Coming Soon</strong></p>
      <p>A full list of FAQs will be available when the final public version of the user dashboard is released.</p>
      <p>For now, please use our contact form available <a [routerLink]="['/dashboard/contact']">here</a>.</p>
    </div>
  </div>
</div>
