<div class="animated fadeIn">
  <div class="alert alert-info">This is a near perfect demo of how your card will look. From this screen you will also be able to import your virtual card to Apple Pay and Android</div>

  <div id="card">
    <div class="card-block">
      <div class="card-holder" id="my-card-holder">
        <div id="my-card" *ngIf="userData">
          <img src="/assets/img/logos/green.png" class="card-logo" alt="MoxyOne" />
          <img class="chip" src="/assets/img/card/chip.png">
          <span class="holo-back"></span>
          <span class="holo"></span>
          <br>
          <span class="emboss number">5467 XXXX XXXX XXXX</span>
          <br>
          <span class="small-type">Valid From&nbsp;&nbsp;&nbsp;UNTIL END</span>
          <br>
          <span class="emboss exp">07/18 – 10/22</span>
          <br>
          <span class="emboss name">{{userData["https://moxy.one/user_metadata"].name}}</span>
        </div>
      </div>
    </div>
    <div id="third-party-holder">
      <div class="third-party">
        <img src="/assets/img/third-party/apple-pay-logo.svg" alt="Apple Pay" />
      </div>
      <div class="third-party">
          <img src="/assets/img/third-party/android-pay-logo.png" alt="Android Pay" />
      </div>
    </div>
    <div class="text-center mb-3">
        <small style="color:#fff;">Coming soon</small>
    </div>
  </div>